{% extends "ProyectoApp/padre.html" %}

{% load static %}

{% block titulo %}
   Sobre Mi

{% endblock %}



{% block comentario%} 
 <div class="text-center">
    <p>Entusiasta de la tecnologia, buscando siempre superarme y aprendiendo nuevos lenguajes!</p>
    <p> Actualmente estoy trabajando como FrontEnd Developer </p>
    <p> Dejo mi <a href="https://www.linkedin.com/in/nancyborges3333" target="_blank">Linkedin</a> por si alguien le interesa.  </p>
    <p> Gracias por Visitar mi Pagina!</p>
 </div>
{% endblock %}



